@import '../utils/colors';

.date-display {
  text-align: center;
  display: grid;
  place-items: center;

  .number {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 28px;
    color: $black;
    background: $gray-1;
    display: grid;
    place-items: center;
    &.-active {
      background: $blue;
      color: $white
    }
  }

  .day {
    border-radius: 20px;
    min-width: 120px;
    font-size: 16px;
    line-height: 22px;
    // background: $gray-1;
    color: $black;
    margin: 8px;
    &.-active {
      color: $blue;
    }
  }
}