@import '../utils/colors';

.tasks-display {
  .task {
    padding: 8px;
    word-break: break-all;
    font-size: 10pt;
    line-height: 14pt;
    background: $gray-1;
    border-radius: 4px;
    min-height: 66px;
    max-width: 176px;
    cursor: pointer;

    &.-done {
      background: $green;
      color: $white
    }

    &.-empty {
      background: unset;
      display: grid;
      place-items: center;
    }
  }

  .task-icon {
    font-size: 18pt;
    float: right;
    cursor: pointer;
  }
}