<template>
  <div>
    <h3 class="text-center">Todo App</h3>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="align-middle">
            <b-button variant="primary" @click="fetchDays()">Prev</b-button>
          </th>

          <th v-for="date in taskDates" :key="date">
            <date-display
              :date="date"
              v-model="selectedDate"
            />
          </th>

          <th class="align-middle">
            <b-button variant="primary" @click="fetchDays(true)">Next</b-button>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td />
          <td v-for="date in taskDates" :key="date">
            <tasks
              :tasks="tasksByDate(date)"
              @tasks:reload="loadTasks()"
              @task:edit="onEditTask($event)"
              @confirm:delete="taskId = $event"
            />
          </td>
          <td />
        </tr>

        <tr>
          <td />
          <td v-for="date in taskDates" :key="date" class="text-center">
            <b-button class="w-100" @click="onNew(date)" variant="warning">ADD ITEM</b-button>
          </td>
          <td />
        </tr>
      </tbody>
    </table>

    <base-dialog id="form-dialog">
      <template v-slot:content>
        <task-form :task="task" :date="selectedDate" @saved="loadTasks()" @confirm:delete="taskId = $event"/>
      </template>
    </base-dialog>

    <confirm-dialog v-model="taskId" @confirmed="onDeleteTask($event)"/>
  </div>
</template>

<script lang="ts">
/** 
 * File: Home.vue
 * Author: Angelo Berina
 * Date Created: 06-24-2021
 * Since: v0.0.1
 */

import { Mixins, Component } from 'vue-property-decorator';
import { required } from 'vuelidate/lib/validators';
import { validationMixin } from 'vuelidate';
import { Nullable } from '../types/Nullable';
import { Task, TaskPayload } from '../types/Task';
import moment, { Moment } from 'moment-mini';
import { SHORT_DATE, SHORT_DATE_DAY } from '../constants';
import { groupBy } from 'lodash-core';

@Component({
  components: {
    TaskForm: () => import('../components/TaskForm.vue'),
    BaseDialog: () => import('../components/BaseDialog.vue'),
    DateDisplay: () => import('../components/DateDisplay.vue'),
    Tasks: () => import('../components/TaskDisplay.vue'),
    ConfirmDialog: () => import('../components/TaskConfirmDialog.vue'),
  },
})
export default class Home extends Mixins(validationMixin) {
  private test: string = '';
  private tasks: TaskPayload[] = [];
  private task: Nullable<Task> = null;
  private taskDates: string[] = [];
  private selectedDate: string = '';
  private taskId: Nullable<number> = null;

  private get lastDate() {
    const { length } = this.taskDates;
    return !length ? null : this.taskDates[length - 1];
  }

  private get firstDate() {
    const { length } = this.taskDates;
    return !length ? null : this.taskDates[0];
  }

  private onNew(date: string) {
    this.selectedDate = date;
    this.$bvModal.show('form-dialog');
  }

  private tasksByDate(date: string) {
    return this.tasks.filter(
      (task: TaskPayload) => task.date === date
    );
  }

  private onEditTask(task: TaskPayload) {
    this.task = task;
    this.$bvModal.show('form-dialog');
  }

  private groupedDate() {
    return groupBy(this.tasks, 'date');
  }

  private fetchDays(isNext: boolean = false) {
    let dateStartAt = (isNext === true) ? this.lastDate : this.firstDate;
    let currentDate = !!dateStartAt ? moment(dateStartAt as string) : moment().weekday(0);

    const daysToShow = 7;

    if (!isNext) { currentDate.subtract(daysToShow, 'days'); } 
    else { currentDate.subtract(1, 'days'); }

    this.taskDates = Array.from({ length: daysToShow }, (_v, key: number) => (
      currentDate.add(1, 'days').format(SHORT_DATE)
    ));
  }

  private async loadTasks() {
    await this.$db.tasks.toArray().then((data: TaskPayload[]) => {
      this.tasks = data;
      this.task = null;
    })
  }

  private async onDeleteTask(id: number) {
    this.$bvModal.hide('confirm-dialog');
    this.$bvModal.hide('form-dialog');
    await this.$db.tasks.delete(id);
    this.taskId = null;
    await this.loadTasks();
  }

  private async mounted() {
    this.fetchDays(true);
    await this.loadTasks();
  }
}
</script>
