<template>
  <b-modal :id="id" hide-footer>
    <slot name="content" />
  </b-modal>
</template>

<script lang="ts">
/** 
 * File: BaseDialog.vue
 * Author: Angelo Berina
 * Date Created: 06-24-2021
 * Since: v0.0.1
 */

import { Vue, Component, Prop } from 'vue-property-decorator';

@Component
export default class BaseDialog extends Vue {
  @Prop({ type: String, default: '' })
  private id!: string;
}
</script>
