<template>
  <b-form-group :label="label">
    <b-form-input
      :value="value"
      :state="hasError"
      @input="onEmitInput"
      :aria-describedby="idHintLabel"
    />

    <b-form-invalid-feedback :id="idHintLabel">
      {{ validationError() }}
    </b-form-invalid-feedback>
  </b-form-group>
</template>

<script lang="ts">
  import { Component, Mixins, Prop } from 'vue-property-decorator';
  import InputValidationMixin from './mixins/InputValidation';
  import { kebabCase } from 'lodash-core';

  @Component
  export default class BaseTextField extends Mixins(InputValidationMixin) {
    private onEmitInput($event: string) {
      this.$emit('input', $event);
    }

    private get idHintLabel() {
      return `hint-${kebabCase(this.label)}`;
    }
  }
</script>