<template>
  <div class="pb-4 date-display">
    <b :class="{'day': true, '-active': isCurrentDate }">{{ dayInWeek }}</b>
    <div :class="{'number': true, '-active': isCurrentDate }">
      {{ shortDate }}
    </div>
  </div>
</template>

<script lang="ts">
/** 
 * File: DateDisplay.vue
 * Author: Angelo Berina
 * Date Created: 06-24-2021
 * Since: v0.0.1
 */

import { Component, Vue, Prop } from 'vue-property-decorator';
import moment from 'moment-mini';
import { SHORT_DATE_DAY, SHORT_DATE } from '../constants';

@Component
export default class DateDisplay extends Vue {
  @Prop({ type: String, required: true })
  private date!: string;

  // FORMATS
  private get dayInWeek() {
    return moment(this.date).format('ddd').toUpperCase(); 
  }

  private get shortDate() {
    return moment(this.date).format('DD');
  }

  private get isCurrentDate() {
    return moment().format(SHORT_DATE) === this.date;
  }
}
</script>

<style lang="scss" scoped src="../styles/components/_date-display.scss" />