<template>
  <b-form @submit.prevent="saveTask">
    <b-row class="pl-1">
      <b-col lg="7">
        <base-text-field 
          :validator="$v.form.description"
          v-model="$v.form.description.$model"
          label="Task Details"
        />
      </b-col>
    </b-row>

    <b-row class="pt-3">
      <b-col lg="8">
        <b-button-group>
          <b-button :variant="taskVariant('pending')" @click="form.status = 'pending'">
            <b-row>
              <b-col v-if="isSelected('pending')" lg="2">
                <b-icon icon="check-circle" />
              </b-col>
              <b-col lg="5">
                Pending
              </b-col>
            </b-row>
          </b-button>

          <b-button :variant="taskVariant('done')" @click="form.status = 'done'">
            <b-row>
              <b-col  v-if="isSelected('done')" lg="2">
                <b-icon icon="check-circle" />
              </b-col>
              <b-col lg="5">
                Done
              </b-col>
            </b-row>
          </b-button>
        </b-button-group>
      </b-col>
    </b-row>

    <b-row class="justify-content-end pt-2">
      <b-col v-if="task" lg="2" align-self="end">
        <b-button variant="danger" @click="onConfirmDelete(task.id)">Delete</b-button>
      </b-col>
      <b-col lg="2" align-self="end">
        <b-button variant="primary" :disabled="$v.$invalid" @click="saveTask">Save</b-button>
      </b-col>
    </b-row>
  </b-form>
</template>

<script lang="ts">
/** 
 * File: TaskForm.vue
 * Author: Angelo Berina
 * Date Created: 06-24-2021
 * Since: v0.0.1
 */

import { Mixins, Component, Prop } from 'vue-property-decorator';
import BaseTextField from '../components/BaseTextField.vue';
import { validationMixin } from 'vuelidate';
import { Status, TaskPayload, Task } from '../types/Task';
import { Nullable } from '../types/Nullable';
import { omit } from 'lodash-core';
import { required } from 'vuelidate/lib/validators';

@Component({
  components: { BaseTextField },
  validations: {
    form: {
      description: { required },
      status: { required },
      date: { required }
    }
  },
})
export default class TaskForm extends Mixins(validationMixin) {
  @Prop({ type: String, default: '' })
  private date!: string;

  @Prop({ type: Object, required: false })
  private task!: Nullable<TaskPayload>;

  private form: Task = {
    description: '',
    date: '',
    status: Status.pending
  };

  private get table() {
    return this.$db.tasks;
  }

  private isSelected(status: Status) {
    return this.form.status === status;
  }

  private taskVariant(status: Status) {
    return this.form.status === status ? 'info' : '';
  }

  private async update() {
    return await this.table
                     .update(this.task!.id, { ...this.form });
  }

  private async create() {
    return await this.table
                     .put({ ...this.form })
  }


  private async saveTask() {
    this.$v.$touch();
    if (this.$v.$invalid) { return; }

    const write = !this.task && this.create || this.update;

    await write().then((data: any) => {
      console.log(data);
      this.$emit('saved', {
        id: data,
        ...this.form
      });
    }).catch((e: any) => {
      console.log(e.message);
    }).finally(() => {
      this.$bvModal.hide('form-dialog');
    })
  }

  private onConfirmDelete(id: number) {
    this.$bvModal.show('confirm-dialog');
    this.$emit('confirm:delete', id);
  }

  private mounted() {
    if (!!this.task) {
      const task = Object.assign({}, this.task);
      this.form = omit(task, 'id');
      return;
    } else {
      this.form.date = this.date;
    }
  }
}
</script>
