<template>
  <base-dialog id="confirm-dialog">
    <template v-slot:content>
      Confirm Action?

      <b-row class="justify-content-end pt-2">
        <b-col lg="auto" align-self="end">
          <b-row>
            <b-button variant="primary" class="w-100" @click="onConfirm">Confirm</b-button>
          </b-row>
        </b-col>
        <b-col lg="auto" align-self="end">
          <b-button @click="$bvModal.hide('confirm-dialog')">Cancel</b-button>
        </b-col>
      </b-row>
    </template>
  </base-dialog>  
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { Nullable } from '../types/Nullable';

@Component({
  components: {
    BaseDialog: () => import('./BaseDialog.vue'),
  }
})
export default class TaskConfirmDialog extends Vue {
  @Prop({ type: Number, default: null })
  private value!: Nullable<number>;

  private onConfirm() {
    this.$bvModal.hide('confirm-dialog');
    this.$emit('confirmed', this.value);    
  }
}
</script>
