<template>
  <div class="tasks-display">
    <template v-if="!tasks.length">
      <b-row class="text-center px-1">
        <b-col class="task -empty m-1">
          <i>No tasks assigned yet</i>
        </b-col>
      </b-row>
    </template>


    <template v-else>
      <b-row v-for="task in tasks" :key="task.id" class="px-1">
        <b-col :class="{
          'task m-1': true,
          '-done': isDone(task.status)
        }"
        @click="$emit('task:edit', task)"
        >
          <span>
            {{ task.description }}
          </span>

          <div v-if="!isDone(task.status)" class="justify-content-end pt-2">
            <b-icon icon="trash" class="task-icon" variant="danger" @click.stop="onConfirmDelete(task.id)"/>
            
            <b-icon icon="check-circle" class="task-icon mx-2" variant="success" @click.stop="onDone(task.id)" />
          </div>
        </b-col>
      </b-row>
    </template>
  </div>
</template>

<script lang="ts">
/** 
 * File: TaskDisplay.vue
 * Author: Angelo Berina
 * Date Created: 06-24-2021
 * Since: v0.0.1
 */

import { Component, Vue, Prop } from 'vue-property-decorator';
import { TaskPayload, Status } from '../types/Task';

@Component({
  components: {
    ConfirmDialog: () => import('../components/TaskConfirmDialog.vue'),
    BaseDialog: () => import('../components/BaseDialog.vue')
  },
})
export default class TaskDisplay extends Vue {
  @Prop({ type: Array, default: [] })
  private tasks!: TaskPayload[];

  private isDone(status: Status) {
    return status === Status.done;
  }

  private async onDone(id: number) {
    await this.$db.tasks.update(id, { status: Status.done });
    this.$emit('tasks:reload');
  }

  private async onConfirmDelete(id: number) {
    this.$emit('confirm:delete', id);
    this.$bvModal.show('confirm-dialog');
  }

  private async onDelete() {

  }
}
</script>

<style lang="scss" scoped src="../styles/components/_task-display.scss" />